

.navbar {

    width: calc(100vw - 40px);
    height: fit-content;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
    
        
        
        .link {
            text-decoration: none;
            width: fit-content;
            color: inherit;
            height: fit-content;
        }



        .container {
            width: 100%;
            display: flex;
            align-items: center;

            .logout {
                border: none;
                background-color: #243752e7;
                color: white;
                border: none;
                border-radius: 5px;
                height: 35px;
                width: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    
}
